<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>main</title>
<link rel="stylesheet" type="text/css" href="application/view/admin/style/admin.css" />
<link rel="stylesheet" type="text/css" href="application/view/admin/style/basic.css" />
<script src="application/view/admin/js/admin_manage.js"></script>
</head>
<body id="main">

<div class="map">
	管理首页 &gt;&gt; 管理员管理 &gt;&gt; <strong id="title">新增管理员</strong>
</div>
<ol>
	<li><a href="index.php?p=admin&c=admin&a=admin" class="selected">管理员列表</a></li>
	<li><a href="index.php?p=admin&c=admin&a=addadmin">新增管理员</a></li>
</ol>
	<form action="index.php?p=admin&c=admin&a=add" method="post">
		<table cellspacing="0" class="left">
			<tr><td>用 户 名：<input type="text" name="admin_name" class="text" /> (* 不得小于2位,不得大于20位)</td></tr>
			<tr><td>密　　码：<input type="password" name="admin_pwd" class="text" /> (* 不得小于6位)</td></tr>
			<tr><td>确认密码：<input type="password" name="confirm_pass" class="text" /> (* 必须与密码一致)</td></tr>

			<tr><td><input type="submit" name="send"  value="新增管理员"  onclick="return checkAddForm();" class="submit sublevel" /> [ <a href="index.php?p=admin&c=admin&a=admin">返回列表</a> ]</td></tr>
		</table>
	</form>
</body>
</html>