<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>添加导航</title>
    <link rel="stylesheet" type="text/css" href="application/view/admin/style/admin.css" />
    <link rel="stylesheet" type="text/css" href="application/view/admin/style/basic.css" />
    <script src="js/admin_nav.js"></script>
</head>
<body id="main">

<div class="map">
    内容管理 &gt;&gt; 设置网站导航 &gt;&gt; <strong id="title">添加导航</strong>
</div>
<ol>
    <li><a href="index.php?p=admin&c=nav&a=nav" >导航列表</a></li>
    <li><a href="index.php?p=admin&c=nav&a=addnav" class="selected">添加导航</a></li>
</ol>
<form method="post" action="index.php?p=admin&c=nav&a=insert">
    <table cellspacing="0" class="left">
        <tr><td>导航名称：<input type="text" name="nav_name" class="text" /></td></tr>
        <tr>
            <td>上级导航：
                <select name="parent_id">
                    <option value="0">顶级导航</option>
                </select>
            </td>
        </tr>
        <tr><td>导航说明：<textarea name="nav_info" id="" cols="30" rows="10"></textarea></td></tr>
        <tr><td>导航排序：<input type="text" name="sort" value="50" class="text"></td></tr>
        <tr><td>是否显示：<input type="radio" value="1" name="is_show" checked>是<input type="radio" name="is_show" value="0">否</tr>
        <tr><td><input type="submit" name="send" value="新增导航" class="submit subnav" /> [ <a href="index.php?p=admin&c=nav&a=nav">返回列表</a> ]</td></tr>
    </table>
</form>
</body>
</html>