<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢迎光临网站后台操作</title>
<link rel="stylesheet" type="text/css" href="application/view/admin/style/index.css" />
</head>
<frameset rows="80px,*" border="0">
	<frame src="index.php?p=admin&c=index&a=top" noresize="true" scrolling="no" />
	<frameset cols="150px,*" border="0">
		<frame src="index.php?p=admin&c=index&a=sidebar" name="sidebar" noresize="true" scrolling="no" />
		<frame src="index.php?p=admin&c=index&a=main" name="main" noresize="true" />
	</frameset>
</frameset>
</html>