<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>登录CMS后台管理系统</title>
	<link rel="stylesheet" type="text/css" href="application/view/admin/style/admin.css" />
	<script src="application/view/admin/js/admin_login.js"></script>

</head>
<body>

<form id="adminLogin" name="fmLogin" method="post" action="index.php?p=admin&c=login&a=signin">
	<fieldset>
		<legend>登录CMS后台管理系统</legend>
		<label>账　号：<input type="text" name="admin_user" class="text" /></label>
		<label>密　码：<input type="password" name="admin_pass" class="text" /></label>
		<label>验证码：<input type="text" name="code" class="text" /></label>
		<label class="t">输入下图的字符，不区分大小写</label>
		<label><img src="index.php?p=admin&c=login&a=captcha" onclick="javascript:this.src='index.php?p=admin&c=login&a=captcha&'+Math.random();" /></label>
		<input type="submit" value="登录" class="submit" onclick="return checkLogin();" name="send"/>
	</fieldset>
</form>
</body>
</html>