<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>main</title>
<link rel="stylesheet" type="text/css" href="application/view/admin/style/admin.css" />
<link rel="stylesheet" type="text/css" href="application/view/admin/style/basic.css" />
</head>
<body id="main">

<div class="map">
	管理首页 &gt;&gt; 后台首页
</div>
<table cellspacing="0">
    <tr><th><strong>快捷操作</strong></th></tr>
    <tr><td><input type="button" value="清除缓存" onclick="javascript:location.href='main.php?action=uncache'"> ( 现在缓存有 <strong>{$cachenum}</strong> 个文件 )</td></tr>
</table>
</body>
</html>